<div class="nav">
<% if session[:user_id] == nil %>
	<%= link_to 'Login', login_path %>
	<%= link_to 'Sign up now!', signup_path %>
<% else %>
	<%= link_to 'Logout', logout_path %>
<% end %>
<br></div>